/*ESTILO DA "INFO" CSS*/

.placa-imagens{
    padding: 20px;
}
.placa-imagens img{
    width: 200px;
}
.creditos{
    margin: 20px;
    text-align: left;
}
@media (max-width: 600px){
    .placa-imagens img{
        width: 130px;
    }
}