/*ESTILO GERAL CSS*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;800&family=Arimo:wght@400;700&family=Kalam:wght@400;700&family=Righteous&display=swap');
.kalam-font{
    font-family: 'Kalam';
}
.archivo-font{
    font-family: 'Archivo';
}
.righteous-font{
    font-family: 'Righteous';
}
.arimo-font{
    font-family: 'arimo';
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(1deg, #272727, #312453 80%, #8497db 160%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #928acf;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #333034;
}
.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 155px;
}
.face{
    margin: 20px 0;
    width: 100px;
    border: 5px solid #333034;
    border-radius: 50%;
}
.titulo-pagina{
    color: #928ACF;
    border: 3px solid #928acf;
    font-size: 50px;
    margin: auto 0;
    font-family: 'Righteous';
    padding: 10px;
}
.hr1{
    width: 60vw;
    margin: 10px auto;
    border: 1px solid #928acf;
}
.hr2{
    width: 40vw;
    margin: 10px auto;
    border: 2px solid #928acf;
    border-radius: 10px;
}
nav{
    background-color: #41395d;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 30px;
}
.nav-li{
    font-family: 'Righteous';
    text-align: center;
    min-width: 70px;
    padding: 3px;
    color: #3d3a56;
    background-color: #928acf;
    border: 3px solid #928acf;
    border-radius: 1px;
}
.nav-li:hover{
    transition: .03s;
    background-color: #928acf00;
    color: #928acf;
}
main{
    background-color: #37324bad;
    width: auto;
    min-height: 600px;
    margin: 30px;
    text-align: center;
    padding: 20px;
}
#relogio{
    width: fit-content;
    margin:0 0 auto 80px;
    padding: 5px;
    font-family: 'Righteous';
    font-size: 30px;
    background-color: #ffffff3c;
    color: black;
    border-radius: 3px;
}
.boa-fi{
    font-family: 'Righteous';
    font-size: 30px;
    background-color: #ffffffab;
    width: fit-content;
    padding: 7px;
    margin-inline: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.placas{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 30px 20px;
    background-color: #0000006f;
}
.placa1{
    padding: 10px;
    text-align: left;
}
.placa h2{
    font-family: 'Righteous';
    color: #87a1ff;
}
.gatin{
    width: 200px;
    border: 2px solid #5656d4;
}
.texto1{
    margin: 80px 100px;
}
.texto2{
    color: #87a1ff;
    font-family: 'arimo';
    margin: 80px 100px;
}
.texto3{
    color: #87a1ff;
    font-family: 'arimo';
}
.texto4{
    color: #87a1ff;
    font-size: 20px;
    font-family: 'kalam';
    font-weight: bolder;
}
.brgay{
    display: none;
}
.versoes{
    cursor: default;
    list-style-type: none;
    color: #2B2833;
    width: fit-content;
    margin: 0 auto;
}
footer{
    font-family: 'arimo';
    justify-content: space-between;
    background-color: #0000009a;
    min-height: 140px;
    padding: 30px;
    display: flex;
}
.links{
    margin: 10px 30px;
}
.links a{
    color: #5679ea;
    text-decoration: underline;
}
small{
    font-size: 12px;
}
.copyright{
    position: absolute;
    bottom: 0;
}

@media (max-width: 600px) {
    #relogio{
    width: fit-content;
    margin:0 0 auto 5px;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
    }
    .boa-fi{
        font-size: 20px;
    }
    .placas{
        display: grid;
    }
    .texto1{
        margin: 50px 10px;
    }
    .texto2{
        margin: 50px 10px;
    }
    .brgay{
        display: grid;
    }
    footer{
        display: grid;
        justify-content: center;
        min-height: 280px;
    }
}